/* 左メニュー */
.g-left {
    float: left;
    width: 220px;
    padding-bottom: 30px;
}
.g-left_ser-txt {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.g-left_ser-list a {
    display: flex;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #eee;
    background-position: left center;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
}
a .g-left_ser-en, a .g-left_ser-ja {
    padding-left: 10px;
    transition: color ease-out 0.15s;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    transition-property: color;
}
.g-left_ser-en {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.06ex;
}
.g-left_ser-ja {
    color: #555;
    font-size: 10px;
    line-height: 1;
    letter-spacing: -0.2ex;
}
.g-left-ser_ttl {
    height: 35px;
    margin-bottom: 17px;
    padding: 3px 13px;
    background-color: #eee;
    font-size: 15px;
    line-height: 32px;
    margin-top:20px;
}
.g-left-ser_hd a {
    color: #915f33;
    font-size: 15px;
}
